<div class="card"
     *ngIf="vm$ | async as viewmodel">
  <div class="card-header">
    {{ viewmodel.pageTitle }}
  </div>

  <div class="card-body" *ngIf="viewmodel.product">
    <div class="row">
      <div class="col-md-2">Name:</div>
      <div class="col-md-6">{{ viewmodel.product.productName }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Code:</div>
      <div class="col-md-6">{{ viewmodel.product.productCode }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Category:</div>
      <div class="col-md-6">{{ viewmodel.product.categoryId }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Description:</div>
      <div class="col-md-6">{{ viewmodel.product.description }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Price:</div>
      <div class="col-md-6">{{ viewmodel.product.price | currency: "USD":"symbol" }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">In Stock:</div>
      <div class="col-md-6">{{ viewmodel.product.quantityInStock }}</div>
    </div>

    <div class="table-responsive"
          *ngIf="viewmodel.productSuppliers">
      <table class="table mb-0"
             *ngIf="viewmodel.productSuppliers.length; else noSuppliers">
        <thead>
          <tr>
            <th>Supplier</th>
            <th>Cost</th>
            <th>Minimum Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of viewmodel.productSuppliers">
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.cost | currency: "USD":"symbol":"1.2-2" }}</td>
            <td>{{ supplier.minQuantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noSuppliers>
    <div class="alert alert-warning">
      No suppliers for product
    </div>
  </ng-template>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>